/* ----- POPPINS FONT Link ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ----- VARIABLES ----- */
:root {
    --body-color:  var(--body-color);
    --color-white: rgb(255, 255, 255);

    --text-color-second: rgb(68, 68, 68);
    --text-color-third: #4447f0c5;

    --first-color: #A020F0;
    --first-color-hover: #31bdec;

    --hover-color: #FFC771;
    --third-color: #A020F0;
    --first-shadow-color: #00000025;
}

/* ----- BASE ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.day-theme {
    background-color: var(--body-color);
    color: black;
}
.night-theme {
    background-color: #141414;
    color:  var(--body-color);
}
.night-theme .menu-container{
    background-color: #141414;
}
.night-theme a, .highlight-info p {
    color: #a59f9a !important; /* Link color for night theme */
}
.night-theme .active-item {
    color: var(--hover-color) !important; /* Link color for night theme */
}
.night-theme .brand-name, .night-theme .highlight-name p{
    color: white;
}
.night-theme .social-icon {
  background-color:  var(--body-color) !important;
}

/* ----- GLOBAL BUTTON DESIGN ----- */
.main-btn {
    font-weight: 500;
    padding: 12px 20px;
    background: #ffcb79;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}
.action-button{
    display: flex;
    flex-direction: row;
    gap: 43px;
    height: 74px;
    margin-top: 12px;
    align-items: center;
}
.action-button i {
    cursor: pointer;
}

.main-btn>i {
    margin-left: 10px;
}

.main-btn:hover {
    background: var(--hover-color);
    color: var(--color-white);
}

/* ----- GLOBAL ICONS DESIGN ----- */
i {
    font-size: 20px;
    color: var(--third-color);
}
i:hover {
    font-size: 23px;
    color: var(--text-color-third);
}

/* ------- BASE -------- */
body {
    background:#fafafa;
}

.main-container {
    width: 100%;
    position: relative;
}

/* ----- NAVIGATION BAR ----- */
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100;
}

.logo-section {
    position: relative;
}

.brand-name {
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color-second);
}

.logo-section span {
    position: absolute;
    top: -15px;
    right: -20px;
    font-size: 5em;
    color: var(--text-color-second);
}

.menu-container,
.menu-list {
    display: flex;
}

.menu-container .menu-item {
    list-style: none;
    position: relative;
}

.menu-link {
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}

.menu-link:hover {
    color: var(--hover-color);
}

.menu-toggle {
    display: none;
}

.menu-toggle i {
    font-size: 28px;
    cursor: pointer;
}

.active-item {
    position: relative;
    color: var(--first-color);
    transition: .3;
}

.active-item::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: var(--first-color);
    border-radius: 50%;
}

/* ----- WRAPPER DESIGN ----- */


/* ----- FEATURED BOX ----- */


/* ----- FEATURED TEXT BOX ----- */

/* ----- FEATURED IMAGE BOX ----- */

/* ----- MEDIA QUERY == 1024px / RESPONSIVE ----- */


/* ----- MEDIA QUERY == 900px / RESPONSIVE ----- */


/* ----- MEDIA QUERY == 540px / RESPONSIVE ----- */

